docker-config/mariadb/

# IPAフォント
app/IPAexfont00401/
vendor/dompdf/dompdf/lib/fonts/ipaex*
vendor/dompdf/dompdf/lib/fonts/installed-fonts.json

# 環境変数
.env

# developブランチで権限問題が発生した場合の対処手順
# echo "IPAexfont00401/" >> app/.gitignore
# echo "storage/fonts/" >> app/.gitignore
# git add app/.gitignore
# git commit -m "gitignore: add font directories"